<div id="pergaminhos">
	<h3>Pergaminhos</h3>

	<ul>
		<% for (let i = 0; i < acoes.length; i++) { %>
			<li>
				<% let txt_acao = ""; 
				switch (parseInt(acoes[i].acao)) {
					case 1: txt_acao = "Aledões coletando recursos"; break;
					case 2: txt_acao = "Enfocamento programado"; break;
					case 3: txt_acao = "Ensinando historia"; break;
					case 4: txt_acao = "Treinando magia"; break;
				} 
				let date = new Date();
				let momento_atual = date.getTime();
				let segundos_restantes = Math.round((acoes[i].acao_termina_em - momento_atual) / 1000);
				%>
				<%= acoes[i].quantidade %>
				<%= txt_acao %>
	
				<small>restam <span class="tempo_restante"><%=segundos_restantes%></span> segundos
					- <a href="/revogar_acao?id_acao=<%=acoes[i]._id %>">revogar ordem</a>
				  </small>
			</li>	
		<% } %>
	</ul>
	

</div>